{% extends "all-app/base.html" %}

{% block content %}
  {{bock.super}}
  <div class="container-fluid">

    <div class="jumbotron">
      <h1 id="red"> Welcome to the Moringa Tribune</h1>
      <h1>Ready to Make Music Online?</h1>
      <h3>CollabStudio is a free, easy to use cloud based music studio that lets you make music anywhere, anytime, together.</h3>
    </div>
    <div clas="row">
      <h1 class="text-center">Making Music. Easy.</h1>
      <img src="" alt="laptop image">
      <p class="text-center">CollabStudio is a collaborative cloud based music studio that lets anyone, regardless of technical skills or ability, quickly and easily make professional quality music anywhere, anytime and with anyone.</p>
      <p class="text-center">*No experience necessary.</p>
    </div>
    <div class="row">
      <h1 class="text-center">Music in the Key of We.</h1>
      <p class="text-center">collabStudio is not just any music production software, but created from the ground up to empower collaboration and making music together.
      <p class="text-center">Whether it's chatting with friends and music lovers across the planet or creating a private group to collaborate on a track you can simply drag and drop sounds and recordings back and forth to instantly, and simply make music together.</p>

      <p class="text-center">Making music is great. Making it together is better.</p>
    </div>   
    <Div class="row">
      <div class="container">
        <h1 class="text-center">Community of Creators</h1>
        <p class="text-center">CollabStudio is a vibrant community of creators and music lovers from all walks of life and of all ages. Positivity, feedback and support is at the core. Create, share and join…</p>
      </div>
    </Div> 
    <div class="nav">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" id="footer">
        <div class="navbar-text pull-right">Site built by nevooronni</div>
      </nav>
    </div>
  </div>
{% endblock %}