{% extends "all-app/base.html" %}

{% block styles %}
  {{block.super}}
{% endblock %}

{% block content %}
  {{bock.super}}
  <div class="container-fluid">

    <div class="jumbotron" style="margin-top: 83px; height: 600px; width: 101.5%; margin-left: -13px; background-image: url('static/img/next.jpeg'); background-repeat: no-repeat; background-size: cover;">
      <h1 class="text-center" style="color: #fff; margin-top: 80px;">Ready to Make Music Online?</h1>
      <h3 class="text-center" style="color: #fff;">CollabStudio is a free, easy to use cloud based music<br> studio that lets you make music anywhere, anytime,</h3>
      <h3 class="text-center" style="color: #fff; margin-top: -9px;">together.</h3>
      <button class="btn" style="margin-left: 30%; height: 55px; margin-top: 20px;  width: 250px; color: #fff; background-color: #3a94fd;">Join Now it's Free!</button>
      <button class="btn" style="margin-left: 48.5%; margin-top: -76px; height: 55px; width: 250px; color: #fff; font-weight: bold; background-color: #0060DF;">Login in with Facebook</button>
    </div>
    <div clas="row" style="padding-bottom: 240px;">
      <h2 class="text-center" style="margin-top: 80px; font-size: 39px; color: #5a5a5a;">Making Music. Easy.</h2>
      <img src="static/img/laptop.png" alt="laptop image" style="margin-left: 30.5%; margin-top: 40px;">
      <p class="text-center" style="margin-top: 60px; font-size: 24px; color: #5a5a5a;">CollabStudio is a collaborative cloud based music studio that lets anyone,<br>regardless of technical skills or ability, quickly and easily make professional<br>quality music anywhere, anytime and with anyone.</p>
      <p class="text-center" style="font-size: 24px; color: #5a5a5a;">*No experience necessary.</p>
    </div>
    <div class="row" style="background-image: url(''); background-repeat: no-repeat; background-size: cover; height: 500px;">
      <div style="background-image: url('static/img/booth.png'); min-height: 500px; background-attachment: fixed;background-position: center; background-repeat: no-repeat; background-size: cover; padding-top: 80px;">
      <h1 class="text-center" style="color: #fff; font-size: 39px; margin-top:  0px;">Music in the Key of We.</h1>
      <p class="text-center" style="color: grey; font-size: 24px;">collabStudio is not just any music production software, but created from the<br> ground up to empower collaboration and making music together.<br>
      <p class="text-center" style="color: grey; font-size: 24px;">Whether it's chatting with friends and music lovers across the planet or<br> creating a private group to collaborate on a track you can simply drag and<br> drop sounds and recordings back and forth to instantly, and simply make<br> music together.</p>

      <p class="text-center" style="color: grey; font-size: 24px;">Making music is great. Making it together is better.</p>
      </div>
    </div>   
    <Div class="row">
      <div class="container">
        <h1 class="text-center" style="margin-top: 70px;">Community of Creators</h1>
        <p class="text-center">CollabStudio is a vibrant community of creators and music lovers from all walks of life and of all ages. Positivity, feedback and support is at the core. Create, share and join…</p>
      </div>
    </Div> 
    <div class="nav">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color: #000;">
        <<!-- img src="static/img/next.jpeg" height="150px" width="21px"> -->
        <img src="static/img/git.jpg" height="150px" width="218px" style="margin-left: -5px;">
        <img src="static/img/house.jpeg" height="150px" width="218px"  style="margin-left: -5px;">
        <img src="static/img/house2.jpg" height="150px" width="215px"  style="margin-left: -5px;">
        <img src="static/img/booth.png" height="150px" width="215px"  style="margin-left: -5px;">
        <img src="static/img/house3.png" height="150px" width="215px"  style="margin-left: -5px;">
        <img src="static/img/new.jpg" height="150px" width="218px"  style="margin-left: -5px;">
        <img src="static/img/next.jpeg" height="150px" width="218px"  style="margin-left: -5px;">
      </nav>
    </div>
  </div>
{% endblock %}